/* 前景色 color */
/* 背景色 background-color */

body {
	font-family: Times, Times New Roman;
	font-size: 120%;
	margin: 0px;
}

#header {
	height: 30%;
	padding-top: 5%;
	background-color: rgb(255,170,170,0.5);
}

#header h1 {
	color: White;
	text-align: center;
}
ul.nav {
	text-align: center;
}


ul.nav li {
	display: inline;
	margin-right: 2%;
	margin-left: 2%;
}

ul.nav li a:visited{
	color: rgb(148,137,123);
}




/*找出id屬性質為page的元素*/
#content {
	background-color: lightgrey;
	padding: 0 6% 0 6%;

}
article {
	background-color: white;
	padding: 6%;
	clear: both;
	overflow: auto;
}







/*table 的屬性*/
table {
	width: 100%;
}

td, th {
	padding: 1%;
	text-align: center;
}

tr.first th{
	color: rgb(212,106,106);
	text-transform: uppercase;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: center;
}

tr.even {
	background-color: #efefef;
}

tr:hover{
	background-color: #c3e6e5;
}

.money {
	text-align: right;
}

/*圖片的規格*/
#bread {
	width: 100%;
}

#jam {
	width: 100%;
}

figcaption {
	color: rgb(100,100,90);
	text-align: center;
	font-style:  italic;
}

h1 {
	color: DarkCyan; /*前景色*/
}

/* hex code */
h2 {
	color: #ee3e80
}
/* rgb value */
p {
	color: rgb(100,100,90);
}

a:link {
	color: deeppink;
	text-decoration: none;
}

a:visited {
	color: rgb(225,170,170);
}

a:hover {
	color: deeppink;
	text-decoration: underline;
}

a:active {
	color: darkcyan;
}


/*footer*/
footer {
	height: 20%;
	text-align: center;
	font-style: italic;
}

/*RWD*/
@media screen and (max-width: 900px) {
    body {
        max-width: 100%;
        font-size: 150%;
    }

    

}


