


.header, .brand, .nav, #content, .article, .sidebar, .footer, .sitename {
	border: 1px dashed lightgrey;
}



/*header part*/
.header {
	height: 300px;
	background-color: rgb(255,170,170,0.5);
	padding-top: 1%;
	padding-left: 3%;
	padding-right: 3%;
	background-image: url(img/03_header.jpg);
	background-size: 100%;
}

.nav {
	float: right;
	padding: 1%;
	margin: 10px;
	/*text-align: right;*/
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0px 0px 10px #777777;
}
ul.nav-bar li {
	display: inline;
}

ul.nav-bar {
	padding:0px; /*ul 預設有縮排 indent*/
}

ul.nav-bar a {
	padding: 20px;
	color: black;
	text-decoration: none;
	font-size: 100%;
}

ul.nav-bar a:hover {
	background-color: white;
	color: #2a93d5;
	text-decoration: underline;
}

.brand {
	text-align: center;
	margin: 10px;
	padding: 1%;
	float: left;
	border: 1px solid lightgrey;
	/*
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0px 0px 10px #777777;
	*/
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px #000000;
	
}

.brand a {
	font-family: Times, Georgia, serif;
	text-decoration: none;
	padding: 10px;
	font-size: 120%;
	font-style: italic;
	color: white;
	/*color: black;*/
}

.brand a:hover{
	background-color: white;
	color: #2a93d5;
	text-decoration: underline;
}

.sitename {
	/*
	position: relative;
	top: 30px;
	*/
	padding: 25px 0px;
	text-align: center;
	clear: left;
	margin: 5% 1%;
	font-size: 200%;
	color: white;
	font-style: italic;
	font-family: Times, Georgia, serif;
}

.sitename h1{
	margin: 0px;
	text-shadow: 2px 2px 7px #111111;
}

.subsitename {
	margin: 0px;
	display: block;
	font-style: normal;
	font-size: 60%;
	text-shadow: 2px 2px 7px #111111;
	font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}

/*article list part*/
.articlelist {
	padding: 5%;
	background-color: white;
	margin: 5% 1%;
}

.articlelist a{
	color: #405365;
	text-decoration: none;
}

.articlelist a:hover{
	color: #d64161;
	
}
.article_description{
	color: #BAB5A4;
}

.article_description:hover {
	color: #d64161;
	
}


/*content part*/
#content {
	margin: 10px 0px 10px 0px;
	background-color: lightgrey;
	/*height: 900px;*/
	padding: 0% 3%;
}

.article {
	padding: 5%;
	background-color: white;
	margin: 5% 1%;
}

.article h1 {
	margin: 0% auto 1% auto;
	font-family: -apple-system,"Helvetica Neue",Arial;
}

.article h1 a {
	color: black;
	text-decoration: none;
}

.article h1 a:hover {
	color: #849974;
	text-decoration: underline dotted;
}

.date {
	color: lightgrey;
	font-style: italic;
	padding-bottom: 1%;
	font-size: 90%;
}

.author {
	color: lightgrey;
	font-style: italic;
	padding-bottom: 1%;
	font-size: 90%;
} 

.line {
	border: 1px dashed lightgrey;
}

/*文章中 table的樣式*/
/*table 的屬性*/
.article table {
	width: 60%;
	padding: 1% 0%;
	margin: 10px auto 0px auto;
}

.article td, th {
	padding: 1%;
	text-align: center;
}

.article tr.first th{
	color: rgb(212,106,106);
	text-transform: uppercase;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: center;
}

.article tr.even {
	background-color: #efefef;
}

.article tr:hover{
	background-color: #c3e6e5;
}

.tblexp {
	text-align: center;
	color:black ;
} 

/*文章中圖片的規格*/
/*
.article figure {
	margin: 20px auto;
	text-align: center;
}
*/

.article img {
	display: block;
	margin: 20px auto;
	width: 60%;
	box-shadow: 0px 0px 8px #777777;
}

.article figure figcaption {
	font-style: italic;
	font-family: -apple-system,"Helvetica Neue",Arial;
}

.article table img {
	width: 100%;
}

/*footer part*/
.footer {
	text-align: center;
	padding: 10px;
	background-color: #849974;
	color: white;
}

.footer h5,a{
	margin: 5px auto 5px auto;
}